{% extends "layout.html" %}

{% block content %}

<h2>Contact</h2>
{#}<h3>{{ message }}</h3>#}

<h3>Get In Touch</h3>
    <p>The Underrepresented Directory is a continually evolving work in process. We would love to hear your thoughts on the philosophy behind it or any features or updates that you’d like to see. Email us at _________</p>
<h3>Report content or listing</h3>
    <p>We have zero tolerance for offensive language, displays, or behavior. We also do not allow impersonations of others on our directory. If someone is pretending to be you or has posted offensive content, please use the below form to report offensive content with a link or screenshot of the page. Your report will be viewed by a PACE members on the outreach committee. </p>

{% endblock %}
