{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}

<div class="info">
    <h3>Purpose</h3>
    <p>The Underrepresented Directory publicizes information about quizbowlers from underrepresented groups in quizbowl in the hopes of fostering connections and elevating underrepresented voices. This is an evolving and incomplete resource. </p>
    <p>For those from underrepresented groups, we hope to connect people who share similar underrepresented backgrounds, provide role models, and foster a sense of belonging. </p>
    <p>We also hope to provide an easy-to-use resource for anyone who wants to
        <ul>
            <li>Find an editor or a writer for a set
            <li>Nominate a player for an award
            <li>Nominate someone for membership in an organization or for other opportunities
        </ul>
    </p>
    <p>Editing and writing in particular bestow prestige and respect as well as valuable and selective experience that develops skills and opens further advancement opportunities. Purposefully recruiting for increased diversity can not only bring fresh and underrepresented perspectives to the editing team and set, but it also helps combat systemic inequalities in quizbowl. When choosing editors and writers, it is very easy for players to select their friends or people who have the most visibility in the quizbowl community. This selection bias often favors homogeneous editing teams of players from well-represented backgrounds. Our hope is that this directory can help you create tournaments, organizations, and communities that better represent the full spectrum of human diversity.</p>
    <h3>Privacy</h3>
    <p>Choosing to list yourself on this directory is completely opt-in. We recognize that people have many different identities, not all of which may be common knowledge. On our “Privacy/FAQ” page you can see our options for publicizing information, which includes an option for given identities to only be visible to others who share the same identity. People in the directory can also choose to remove their listing at any time. </p>
    <h3>History</h3>
    <p>The Underrepresented Directory was developed and launched in 2020 by a committee of PACE members: Marianna Zhang (committee chair), David Reinstein, Ramapriya Rangaraju, Athena Kern, Matt Mitchell, Joelle Smart, James Malouf, Ian Drayer, and Julia Tong.</p>
    <p>Our work was informed by the extreme underrepresentation of many demographics of players, especially in leadership roles and highly competitive circuits. Marianna Zhang, in particular, was inspired by the use of underrepresented directories in academic and professional fields, such as:
        <ul>
            <li><a href = https://womenalsoknowstuff.com/>Women Also Know Stuff</a> (political science)
            <li><a href = https://www.apaonline.org/page/UPDirectory>UPDirectory</a> (the American Philosophical Association’s directory of philosophers from underrepresented groups)
            <li><a href = https://compcog.science/>Minorities in Computational Cognitive Science</a> (self-explanatory list created by Olivia Guest)
        </ul>
    </p>

</div>

{% endblock %}
