{% if user.is_authenticated %}
<form id="logoutForm" action="{% url 'account_logout' %}" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello <a href={% url 'profile' %}>{{ user.display_name }}!</a></span></li>
        {% if user.is_staff %}
            <li><a href='admin/'>Admin</a></li>
        {% endif %}
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
{#    <li><a href="{% url 'django_registration_register' %}">Register</a></li>#}
    <li><a href="{% url 'account_login' %}">Log in</a></li>
</ul>

{% endif %}
