{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}

    <h2>Privacy/FAQ</h2>
    <br/>
    <p>We value both visible representation *and* privacy and personal control of information. We recognize that
        claiming an underrepresented identity can be a deeply personal matter, and that public knowledge of a person’s
        identifications can have potentially positive but also potentially negative social and economic
        consequences.</p>

    <p>This directory is therefore completely opt-in. We will not list someone without confirming that ___________</p>

    <p>To report an entry listing of you that you did not consent to, please see our “Report / Contact Us” page.</p>

    <h3>Privacy settings & permanence</h3>

    <p>Users have the choice of 3 privacy settings for their listing:</p>
        <ul>
        <li>a
        <li>b
        <li>c
        </ul>


    <p>Webpage is not indexed by search services, such as Google and Wayback Machine. We can’t guarantee that it’s
        perfect, doesn’t prevent against eg screenshots</p>

    <h3>Security</h3>
    <p>Technical info about how we keep your info secure</p>


{% endblock %}