{% extends "layout.html" %}
{% block head %}
<script type="text/javascript">
  // Load jquery straight from the cdn for this page.
  $(function() {
    // We need some mappings for Providers names from AllAuth to the icon class names.
    $('#id_email').addClass('form-control');
    $('#id_password1').addClass('form-control');
    $('#id_password2').addClass('form-control');
  });
</script>
{%  endblock %}
{% block content %}

    <h2><a color="gray" href={% url 'login' %}>Log in</a> | Sign Up</h2>
<div class="row">
    <div class="col-md-8">
        <section id="signupForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="id_email" class="col-md-2 control-label">Email Address</label>
                    <div class="col-md-10">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password1" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password2" class="col-md-2 control-label">Confirm Password</label>
                    <div class="col-md-10">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_dob" class="col-md-2 control-label">Date of Birth</label>
                    <div class="col-md-10">
                        {{ form.date_of_birth }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Register" class="btn btn-default" />
{#                        <a href="{% url 'reset' %}" class="btn btn-default">Forgot Password</a>#}
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">{{ form.errors }}Passwords do not match!</p>
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
